/*! Place your custom styles here */

.feature h5{
    text-transform: uppercase;
    color: #62c0ca !important;
}
.feature p{
    margin-top: 15px;
}
.feature a{
    font-weight: 600 !important;
    color: #333 !important;
}
.feauture-box h3{
    line-height: 20px;
    color: #62c0ca !important;
 
    margin-bottom: 3px;
    text-shadow: 1px  0px  0 #fff;
}
.feauture-box span{
    
   text-shadow: 0px 1px 0px #f1f1f1;
font-size: 16px;
}
.feauture-box  img{
    max-height: 104px;
}
.no-pd{
    padding: 0 !important;
        margin:  auto !important;
}
.testimonial span{
    font-size: 17px;
}
.testimonial{
    padding-left: 40px;
     padding-right: 40px;
}
.tabs {
    border: none;
    
}
 .slider-top{
    position: relative;
 }
.panel-abs-top{
    position: absolute;
    z-index: 100;
    top: 15px;
    width: 100%;
}
.bar--absolute, .pos-fixed{
    width: auto !important;
}
.panel-abs-mid-top {
    background:  rgba(99,193,201, .5);
    bottom: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 96;
}

.panel-abs-mid{
    position: absolute;
    z-index: 100;
    top: 20%;
    width: 100%;
}
.panel-abs-mid h1{
  color: #fff;
    font-size: 35px;
    text-shadow: 1px 0 0 #000;
    font-weight: 400;
}

.panel-abs-mid p{
    color: #fff;
    text-shadow: none;
    font-size: 18px;
    
    font-weight: 300;
}
.menu-horizontal li a{
    opacity: 1 !important;
}
.menu-horizontal li a:hover{
    color:  red!important;
}
.feauture-box{
    margin-top: 120px;
}


.flickity-prev-next-button{
    z-index: 1000 !important;
}

.testimonial .testimonial__image {
    border-radius: 8%;
    height: 200px;
    margin-bottom: 1.85714em;
    width: 200px;
}
.testimonial-part{
    padding: 0 !important;
    margin-bottom: -25px;
    text-align: left;
}
.testimonial span,.testimonial h5{
    text-align:   justify !important;
     
    width: 100%;
}

.bar .logo {
    
    max-height: 47px;
    max-width: none;
    
}
a.btn--primary{
    background: #62c0ca !important;
    border-color: #21daee !important;
}
a.btn--primary:hover{
    background: #21daee !important;
    border-color: #21daee !important;
}

.feature.feature--featured::after {
    background: #62c0ca none repeat scroll 0 0;
    height: 2px;
    
}
.color--primary {
    color: #62c0ca !important;
}
.menu-horizontal {
    background:  rgba(255,255,255, 0.9) !important;
 
   border-bottom: 1px solid #21daee ;
    border-radius: 3px;
}
.menu-horizontal li{
    margin-right: 0 !important;
}
.menu-horizontal li a{
     padding: 10px;
     color: #000 !important;
     display: inline-block;
    border-bottom: 2px solid transparent;
}

.menu-horizontal li a:hover,.menu-horizontal li a.active{

 
 color: red !important;
}


.menu-horizontal li:nth-child(1) a{
    padding-left: 20px !important;
}
.menu-horizontal li a:last-child{
    padding-right: 20px !important;
}
.top-n{
     color: #fff;
    float: left;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    margin-left: 8px;
    margin-top: 11px;
    text-shadow: 1px 0 0 #000;
}

.btm-n{
     color: #000;
    float: left;
    font-size: 15px;
    font-weight: 400;
    
    margin-left: 8px;
    margin-top: -2px;
}
.feature   h4.text-justify{
    text-align: justify !important;
}
.process-stepper  li span{
     background: #62c0ca  none repeat scroll 0 0;
    border: 1px   inset  #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 120px;
    line-height: 36px;
    padding: 42px 15px 15px;
    text-transform: uppercase;
    width: 120px;
    
    
}
.process-stepper > li.active::after {
    background:  black none repeat scroll 0 0;
}
  .process-stepper > li.active::after{
      background:   #62c0ca none repeat scroll 0 0;
}
.process-stepper > li.active::before{
    background:  red none repeat scroll 0 0 !important;
    position: relative;
    z-index: 1000;
}
.round-list li{
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    width: 130px;
    background: #f7f7f7 ;
    height: 130px;
}
.round-list li:hover{
    opacity: .9;
 
}
.round-list li:not(:last-child) {
    margin-right: 3.571em;
}
.round-list li img {
   display: block;
    margin: auto;
    max-width: 105px;
    position: inherit;
    margin-top: 27%;
}
section, footer {
    padding-bottom: 2.429em;
    padding-top: 7.42857em;
}
.testimonial h5 {
    text-align: center;
    width: 100%;
    margin-top: -21px !important;
}

.h3 .pull-left{
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 15px;
    background: #fff;
    border-radius: 3px;
}
.four-col div.col-md-6{
    padding: 0;
}

 .six-img-slide img{
    max-width: 32.8%;
 }

.btmmore{
   
    display: block;
}
.btmmore a{
    margin-top: 15px;
    margin-bottom: -9px;
}
.process-stepper span {

    margin-right: 26px;
}
.process-stepper  li:nth-child(3) span,.process-stepper  li:nth-child(4) span{
    line-height: 20px !important;
}
.process-stepper  li:nth-child(7) span{
    line-height: 20px;
    padding-top: 31px;
}

.switchable {
   padding-bottom: 53px;
    padding-top: 59px;
     }
.first-sec {
    padding-top: 60px !important;
    
    padding-bottom: 30px;
 
}
.first-sec  .slider {
    padding-bottom: 38px;
}
.all-list{
    font-size: 14px;
    color: #62c0ca ;
    font-weight: 500;
}
.all-list:hover{
    text-decoration: none;
    color: #21daee;
}
.list-inline--images img {
    max-height: 4.786em;
}
.second-section{
      padding-top: 60px !important;
    padding-bottom: 31px !important;
}


.third-section{
     padding-top: 60px !important;
    padding-bottom: 59px !important;
    
}
.machine{
    padding-bottom: 71px;
}
.big-head h3{
     color:   !important;
    font-size: 34px;
    font-weight: 500;
 
    
}

.row.feauture-box.visible-xs {
    margin-top: -2px;
    margin-bottom: 44px;
}
.hamburger-toggle i {
    color: #fff;
}
.icon.icon--sm.stack-interface.stack-menu {
    border: 1px solid #fff;
    border-radius: 3px;
}
 .six-img-slide img {
    max-height: 141px;
    max-width: 32.8%;
    width: 100%;
}
.bg--secondary{
    background: #f7f7f7;
}
.feature__body.boxed.boxed--border > h4{
    font-weight: 300 !important;

    font-size: 17px !important;
}
.round-list li img
{
    margin: auto;
    max-width:  none ;
     max-height:  none ;
}
.list-inline.round-list.list-inline--images.text-center img {
 height: 65%;
    position: relative;
    width: 65%;
    bottom: -24px;
    display: block;
}
 [data-overlay]::before{
    background: #62c0ca ;
 }

 @media screen and (max-width: 980px) {
.feauture-box {
    margin-top: 33px;
}
 .menu-horizontal li a:last-child {
    padding-right: 13px !important;
}
.panel-abs-mid h1 {
    
    font-size: 33px;
    margin-top: 34px;
}
}

 @media screen and (max-width: 570px) {
    .panel-abs-mid h1 {
    font-size: 30px;
    margin-top: 12px;
}
}
@media screen and (max-width: 360px) {
    .panel-abs-mid h1 {
    font-size: 22px;
    margin-top: 34px;
}
.panel-abs-mid p{
   display: none;
}
}